@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: linear-gradient(
        100deg,
        rgba(22, 10, 194, 0.8) 30%,
        #dde6e5 120%
    ); */
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    overscroll-behavior: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
